.section-five .panel {
  text-align: center;
  margin-left: auto;
  margin-right: auto;


  @include breakpoint-up('md') {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }

}

.section-five .panel {

  &:not(:first-child) {

    margin-top: 2rem;
  }

}

.section-five .panel-btn {
  margin-top: 1rem;
}