// Globals //

html {
  scroll-behavior: smooth;
}

body {
  @include font-family('primary');
  @include color('primary-2');
  font-size: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  @include color('primary-2');
}

.wrapper {
  max-width: 125rem;
  margin: 0 auto;
  overflow: hidden;
}

.container {
  width: 100%;
  @include padding-x('sm');
  
  
  @include breakpoint-up('md') {
    @include padding-x('md');
  }
  
  @include breakpoint-up('lg') {
    @include padding-x('lg');
  }
    
}


// Border // 

.b-radius {
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border-radius: 0.5rem;
}


// Images //

.img-responsive {

  .sm-img {
  
  
    @include breakpoint-up('md') {
      display: none;
    }

  }

  .md-img {
    display: none;


    @include breakpoint-up('md') {
      display: inline-block;
    }

    @include breakpoint-up('lg') {
      display: none;
    }

  }

  .lg-img {
    display: none;


    @include breakpoint-up('lg') {
      display: inline-block;
    }

  }
  
}

.img-fluid {
  width: 100%;
  height: auto;
}

.slide-out-left {
  visibility: hidden;
  margin-left: 100%;
}

.slide-in {
  margin-left: 0rem;
  transition: margin-left 0.3s ease-in-out;
}


// Colors //

/// bg
.bg-color-eight {
  @include bg-color('eight');
}

.bg-color-seventh {
  @include bg-color('seventh');
}

.bg-color-third {
  @include bg-color('third');
}

/// Font
.color-third {
  @include color('third');
}

// Spaces //

.margin-top {
  @include margin-top('sm');


  @include breakpoint-up('md') {
    @include margin-top('md');
  }

  @include breakpoint-up('lg') {
    @include margin-top('lg');
  }

}


// Transform //

// Rotate
.arrow-down {
  transform: rotate(-90deg);
}

// Visibility //

.hidden {
  display: none;
}

.show {
  display: block;
}

.slide-up {
  height: 0;
  @include transition('height', 1s);
}

.slide-down {
  height: auto;
  @include transition('height', 3s);
}





